body {
    background-color: lightgray;
}

.container{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 0px 10px #B4b7b7 ;
}

.profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-radius: 100px;
}

.name{
    font-family: Gasalt-Black;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;

}

.mybio{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

.social-link{
    margin-left: 255px;
    padding-left: 40px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #59b1f1;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.social-icon{
    width: 15px;
    margin-left: 10px;
    
}

.social-link:hover{
    border-radius: 25px;
    background-color: #59b1f1;
    color: white;

}
@font-face {
    font-family: Gasalt-Black;
    src: url(../font/Gasalt-Black.ttf);
}